    <div>    
        <div class="modal-header clearfix"> 
	        <div class="pull-right "><button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button></div>
	        <h1>{{leerling.naam}}</h1>
        </div>
        <div class="modal-body">
        	<ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-index="$parent.counter" class="my-slider ng-cloak">
	            <li ng-repeat="vraag in proefwerk">  
			        <div class="row">
			        	<div class="col-md-6">
			               <h1>Vraag {{ vraag.id }}/{{proefwerk.length}}</h1> 
			               <em>type: {{ vraag.rtti }}, maximale score: {{ vraag.max }} </em>
			            </div>   
			        </div>        	
		            <em>Wat is de score?</em><br/>              
		            <div class="row text-center">
		             <div class="col-xs-2">
		               <input class="form-control input-big" type="text" tab-index="0" focus-me="$parent.focusInput{{counter}}" ng-model="uitslag[$index+1]" >
		               <!-- <button class="btn" ng-click="focusInput{{counter}}=true">focus input</button> -->
		            </div>
		            </div>  	
		            <div class="btn-group" data-ng-repeat="i in numbers | limitTo:(vraag.max+1)">
		                 <button type="button" class="btn btn-default btn-big" ng-model="uitslag[$parent.$index+1]" btn-radio="$index" ng-click="next();">{{$index}}</button>
		            </div ng-repeat-end> 
	            </li ng-repeat-end>
            </ul>
        </div>
        <div class="modal-footer">
        	<div class="col-xs-3 text-left "><button class="btn btn-primary" ng-disabled="counter <= 0" ng-click="previous();" ng-shortcut="'left'" ng-shortcut-click>Vorige</button></div>
        	<div class="col-xs-3"><button class="btn btn-primary" ng-click="ok();">Klaar</button></div>
        	<div class="pull-right col-xs-3" ng-if="counter < proefwerk.length"><button class="btn btn-primary" ng-disabled="counter >= (proefwerk.length-1)" ng-click="next();focusInput{{counter+1}}=true;" ng-shortcut="'right'"
            ng-shortcut-click>Volgende</button></div>
        </div>
     </div>